@media (max-width: 992px) {
  #certificate img {
    width: 75%;
  }
  #job-info .row {
    grid-template-columns: repeat(2, 1fr);
  }
  .job-1 {
    height: calc(100% - 40px);
  }
  .job-3 {
    margin-top: -40px;
  }
  .job-4 {
    height: calc(100% - 70px);
  }
  .job-6 {
    margin-top: -70px;
  }
}
@media (max-width: 768px) {
  #project summary {
    padding: 0;
  }
}

@media (min-width: 992px) {
  .container {
    width: 75%;
  }
}
